.gator-orange {
   background-color: #e28f41;
}

.gator-blue {
   background-color: #6c9ac3;
}
.margin__zero {
    margin-top:0 !important;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.font__opensans {
    font-family: 'Open Sans', sans-serif;
}

.font__sourcesans {
    font-family: 'Source Sans Pro', sans-serif;
}

.font__roboto {    
    font-family: 'Roboto Condensed', sans-serif;
}

.font__arvo {
    font-family: 'Arvo', serif;
}

.font_med {
    font-size:1.5rem;
}

a:hover, a:active {
    color: #004d9a;
}

/*Navbar*/
nav {
    background-color: #004d9a;
}

nav ul a {
    padding-left:.5rem;
    padding-right:.5rem;
}

nav ul a:hover, nav ul a:active {
    color: white;
}

.nav__logo {
    height: 75%;
    padding-left: 0.3rem;
    margin-top: .5rem;
}

.search {
 background-color: rgba(0,0,0,0.4);
}

nav .brand-logo {
    left: 21%;
}

.nav_li {
    text-transform: uppercase;
}
.nav_li:hover {
    border-bottom: #039be5 4px solid;
}

.btn {
    background-color: #e28f41;
}

.btn__logout {
    line-height: 2rem;
    height: 2rem;
    width: 5rem;
    padding: 0 .6;
}

nav ul a.btn:hover, .side-nav a.btn:hover, .side-nav a.btn-large:hover, .side-nav a.btn-large:hover {
    background-color: #e47004;
    }

.btn:hover, .btn-large:hover, .btn:focus {
    background-color: #e87910;
}

nav .button-collapse {
    float: right;
}

.icon {
    float: left;
}

/*Registry Interior Page*/
.headerbg__interiorpg {
    background-color: rgba(177, 220, 251, 0.49);
}

.question__header {
    margin: 0;
    padding: 4rem 0;
    font-weight: 100;
}

.card__title, .card__header {
    display: inline;
    font-weight: 600;
}
.card__header {
    font-size: 1.1rem;
}

.card-content--title {
    padding: 20px 20px 0;
}

.card__title {
    font-size: 1.5rem;
}

.card__icon {
    top: .5rem;
    position: relative;
}

.back__dashboard {
    font-size: 1.5rem;
    margin: 0 auto;
    display: block;
    margin: 3rem 0;
    text-align: center;
}

.back__dashboard:hover {
    color: #004d9a;
}


/*FAQ Page*/
.shape__circle {
    width: 75px;
    height: 75px;
    background: #004d9a;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float:left;
    margin-right:1.5rem;
    clear:both;
}

.shape__circle--text {
    display: block;
    position: relative;
    top: -0.5rem;
    right: -1.8rem;
    font-size: 4rem;
}

.text__blue {
    color: #004d9a;
    height: 4rem;
    padding-top: .5rem;
}

.landing__FAQ--font {
    font-size:1.25rem;
}

.landing__FAQ--font li {
    list-style-type:square;
}

.landing__FAQ--padding {
    padding-right: 2rem;
    }

.landing_FAQ--bullets {
    margin-left: 2rem;
}

.clear__both {
    clear: both;
}

.faq__pd {
    padding: 4rem 0;
}

/*Landing About Registry Page*/

.btn__project:hover, .btn__project:focus {
    background-color: white;
    color: orange;
}

.btn__project {
    background-color: rgba(226, 143, 65, 0.29);
    border: white 2px solid;
    font-size: 1.6rem;
    line-height: 1.6rem;
    height:3.5rem;
}

.section__orange {
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    font-weight:700;
}

.section__orange a {
    color: white;
}

.section__orange-padding {
    padding: 1rem 0;
    margin-bottom: 0;
}

.section__video {
    height: 40rem;
}

.video__alignment {
    margin-right:3rem;
    margin-top:1rem;
}

.cts-toast {
    position: fixed;
    width: 60%;
    height: auto;
    color: white;
    background-color: #6e72ee;
    bottom: 5px;
    font-size: xx-large;
    text-align: center;
    transition: 1s;
    left: 20%;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #888888;
    max-height: 0;
}

.cts-toast--active {
    max-height: 3.2rem;
}

.project__title {
    text-overflow: ellipsis;
}

.tag-holder {
    display: inline-block;
    margin: 0;
}

.tagbox__input {
    position: relative;
}

.tag {
    display: inline;
    color: white;
    margin-left: .1rem;
    margin-right: .1rem;
}

.tag__container {
    display: inline;
    float: left;
    background-color: #e28f41;
    border-radius: 10px;
    margin: .3rem;
    padding: .2rem;
    font-size: .8rem;
    font-weight: 300;
}

.tag__delete {
    position: relative;
    padding-left: .1rem;
    top: 0.255rem;
    color: white;
    font-weight: 900;
    background: transparent !important;
    display: inline;
    font-family: 'Material Icons';
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.question__text {
    text-indent: 3.5rem;
}

.question__description {
    text-indent: 3.5rem;
}

.tag_label {
    float: left;
    position: relative;
    left: -.5rem;
    margin: .3rem;
    padding: .2rem;
}

.project_tag {
    postion: initial;
}

.project_tag a h4 {
    font-weight: 400;
    font-size: 1.6rem;
}

.project_tag h5 {
    font-weight: 300;
    font-size: 1.4rem;
}

.project__divider {
    margin: 0 2rem;
    color: #b7b7b7;
}

.card-content {
    padding-bottom: 1rem;
}

.project__bottom {
    margin-bottom: 0;
    border-bottom: .1rem #b7b7b7 solid;
}

.registry__body--container .dashboard_search {
    border: 1pt #ddd solid;
    height: 3rem;
    width: 100%;
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
}

.input-field form .dashboard_search-input {
    border-bottom: none;
    height: 2rem;
    margin-bottom: 0;
    padding: .5rem 1rem;
    float: left;
    width: calc(100% - 5.1rem);
    font-size: 1.5rem;
}

.input-field input[type=search]:focus {
    background-color: transparent;
}

.dashboard__search--projects {
    float: right;
    height: 100%;
    width: 3rem;
    border-width: 0;
    background-color: #f2f2f2;
    font-size: 1.5rem;
}

.dashboard__search--projects:focus {
    background-color: #d0d0d0;
    outline-width: 0;
}

#project-list {
    border-left: #b7b7b7 solid .1rem;
    min-height: 100%;
    height: auto;
}

#facets {
    background-color: white;
    height: auto;
    padding: 0 0 1rem;
}

.facet-tag {
    color: black;
    position: relative;
}

.facet-tag__label {
    color: #444;
    text-indent: -.5rem;
}

.facet-tag__input.filled-in:checked + label:after{
     border: 2px solid #e28f41;
     background-color: #e28f41;
}

.facet-tag__item {
    position: relative;
    left: 1rem;
}

.facet-tag__no-facet {
    text-align: center;
    margin-top: -0.4rem;
    font-size: large;
}

.facet-tag__category {
    background-color: #022a52;
    border-bottom: solid 2px #fff;
    padding: .7rem 1rem;
    font-size: 1.3rem;
    color: white;
    font-weight: 300;
}

.facet-tag__facet-list {
    padding-top: 0.5rem;
    background-color: white;
    overflow-x: wrap;
}

.facet-tag__details {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: .5s;
    padding: .8rem 1rem 0 0;
    cursor: pointer;
}

.facet-tag__details--inactive {
    /* transform: rotateZ(180deg); */
}

.facet-tag__details--active {
    /* transform: rotateZ(90deg); */
}

.hidden {
    display: none;
}

img.projects__gator {
    display: block;
    margin: 0 auto;
    height: 13rem;
}

.registry__body--container {
    margin-bottom: 0;
     background: url("../img/file_bg.png") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Footer Section*/
footer.page-footer {
     margin-top: 0; 
}

.footer__logo--ufhealth {
    padding: 0 3rem;
}   

.footer__logo--uf {
    padding: .5rem 2rem .8rem;
}

footer.page-footer .footer-copyright {
    color: #004d9a;
    background-color: rgba(51, 51, 51, 0.18);
    height: auto;
    line-height: auto;
    font-weight: 400;
}

/*Top Hero Image Section*/
.bg__ltblue {
    margin: 0 auto;
    background-color: rgba(3, 155, 229, 0.83);
    position: relative;
    top: 4rem;
    max-width: 1000px;
}

.mission_text {
    text-align: justify;
    padding: 0 1rem;
}

.bg__img {
    background: url("../img/hero_img-doctor.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:17rem;
}

/*Find Manage Create Section*/
.bg__img-graphs {
    background: url("../img/hero_img-charts.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:80rem;
}

.box-white {
    background-color: white;
    border: 10px solid #e8e8e8;
    width: 100% !important;
    margin-bottom:1.5rem;
}

.fcm__text-box {
    font-size:1.2rem;
}

.fcm__titles {
    font-size: 3rem;
    padding-top: 2rem;
}

.create__img {
    padding: 0 2rem 1rem;
    max-width:300px !important;
}

.manage__btn {
    margin: .75rem 0;
    background-color: #999;
    font-size: 1.1rem;
    padding: .25rem 1rem .6rem;
    line-height: 1.1rem;
    width: 100%;
    white-space: normal;
    height: 4.5rem;
}

.manage__btn:hover, .manage__btn:focus {
    color: #ababab;
}

.manage__icon {
    font-size: 1.5rem !important;
    position: relative;
    top: .35rem;
}

.search__icon {
    color:#999;
    font-size:6rem !important;
}

.search__icon:hover {
    color:orange;
    cursor: pointer;
}

.input-field {
    width: 11rem;
}

@media screen and (min-width: 400px) {
    .input-field {
        width: 16rem;
    }
}

@media screen and (min-width: 500px) {
    .section__orange {
        font-size:2.8rem;
    }

    .bg__img-graphs {
        height:75rem;
    }
}

@media screen and (min-width: 601px) {
    .section__video {
        height: 56rem;
    }

    .box-white {
        width: 32% !important;
        margin: 1%;
        border:5px solid #e8e8e8;
        height: 380px;
    }

    .bg__img-graphs {
        height: 45rem;
    }

    .create__img {
        max-width:100% !important;
    }

    #facets {
        min-height: 100%; 
    }

    .card-content {
        padding: 1rem;
    }

    .input-field form .dashboard_search-input {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 650px) {
    nav .brand-logo {
        left: 45%;
    }

    .footer__logo--height {
    height: 3rem;
    }
}


@media screen and (min-width: 800px) {
    .box-white {
        width: 30% !important;
        margin: 3%;
        border:10px solid #e8e8e8;
    }
}

@media screen and (min-width: 842px) {
    .footer__logo--height {
    height: 4rem;
    }
}

@media screen and (min-width: 993px) {
    .section__video {
    height: 40rem;
    }

    .mission_title {
        padding-left: 1rem;
    }
    
    .mission_body {
    max-width: 57rem;
    padding-bottom: 2rem;
    }

    .fcm__titles {
    font-size:3.56rem;
    }
    
    .box-white {
        height: 388px;
    }

    /*Featured Projects Section*/
    .section__projects {
        margin: 5rem 0;
    }

    img.projects__gator {
    height: 15rem;
    }

}

@media screen and (min-width: 1062px) {
    .box-white {
        height: 374px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__logo--uf {
        padding-top: .5rem;
    }

    .footer__logo--height {
    height: 5rem;
    }
}

@media screen and (min-width: 1436px) {
    .footer__logo--height .footer__logo--ufhealth {
        height: 6rem;
    }

    .footer__logo--height .footer__logo--uf {
        height: 5rem;
        margin-top: 1rem;
    }

    .footer__logo--height {
    height: 6rem;
    }
}

@media screen and (min-width: 1600px) {
    .create__img {
        max-width: 300px !important;
    }

    .card-content {
        padding: 1rem 3rem 2rem;
    }
}
