<html>
    <head>
        {% load staticfiles %}
        <link href="{% static 'qipr/css/materialize.css' %}" type="text/css" rel="stylesheet"/>
        <link href="{% static 'qipr/css/main.css' %}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div id="facets" class="col s3">
                <h2>Facets</h2>
                {% include 'registry/facets.html' %}
                <div id="search-descriptors" class="hidden">
                    {{ descriptors }}
                </div>
            </div>
            <div id="project-list" class="col s9">
                <div class="card">
                    <h2 class="card-content">Projects</h2>
                </div>
                {% include 'registry/project_list.html' %}
            </div>
        </div>
        <script type="text/javascript" src="{% static 'qipr/js/materialize.js' %}"></script>
        <script type="text/javascript" src="{% static 'qipr/js/app.js' %}"></script>
    </body>
</html>
