<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>QIPR FAQ</title>
        <meta name="viewport" content="width=device-width">
        <link href="{% static 'qipr/css/materialize.css' %}" type="text/css" rel="stylesheet"/>
        <link href="{% static 'qipr/css/main.css' %}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans|Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'qipr/img/favicon-32x32.png' %}">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper bg-blue">
                    <a id="icon-container" class="icon" href="{{ approver_url }}">
                        <img class="nav__logo" src="{% static 'qipr/img/qipr_outlines.png' %}" alt="QIPR Logo">
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-small-only">
                        <li class="nav_li"><a href="{{ approver_dashboard }}">Dashboard</a></li>
                        <li class="nav_li"><a href="{% url 'registry:search' %}">Search Registry</a></li>
                        <li class="nav_li"><a href="{% url 'registry:index' %}">FAQs</a></li>
                        <li><a class="btn btn__logout" href="{{ approver_logout }}">Logout</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a class="" href="{{ approver_dashboard }}">Dashboard</a></li>
                        <li><a class="" href="{% url 'registry:search' %}">Search Registry</a></li>
                        <li><a class="" href="{% url 'registry:index' %}">FAQ</a></li>
                        <li><a class="btn" href="{{ approver_logout }}">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <main>

          <!-- Hero Image/ Mission Stmt Section-->
          <section class="bg__img">
            <div class="bg__ltblue col s12">
              <div class="row center">
                  <div class="col s12 font__roboto">
                    <h2 class=" header center blue-text text-darken-4 mission_title"><span class="white-text">Frequently Asked Questions</span></h2>
                  </div>
              </div>
            </div>
          </section>

           <!-- FAQ Section-->
           <section class="section faq__pd">
                <div class="container">

                    <div class="row">
                        <div class="col s12 l6 font__opensans">
                            <div class="row">
                            <div class="shape__circle">
                                <div class="shape__circle--text white-text">?</div>
                            </div>
                            <h5 class="text__blue">What is QIPR?</h5>
                            </div>
                            <div class="row">
                            <p class="landing__FAQ--font landing__FAQ--padding">The Quality Improvement Project Registry (QIPR) for UF Health quality improvement projects. </p>
                        </div>
                    </div>
                    <div class="col s12 l6 font__opensans">
                        <div class="row">
                            <div class="shape__circle">
                                <div class="shape__circle--text white-text">?</div>
                            </div>
                            <div class="valign-wrapper"><h5 class="text__blue">Are there differences between Quality Improvement and Research?</h5></div>
                        </div>
                        <div class="row">
                            <p class="landing__FAQ--font">Yes, there are several important distinctions between quality improvement/quality assurance and research. To read more about these differences, visit the IRB’s webpage: <a href="http://irb.ufl.edu/irb01/researcher-information/qaqi-vs-research.html">QA/QI vs Research</a></p>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l6 font__opensans">
                            <div class="row">
                            <div class="shape__circle">
                                <div class="shape__circle--text white-text">?</div>
                            </div>
                            <h5 class="text__blue">Why should I use QIPR?</h5>
                            </div>
                            <div class="row">
                            <ul class="landing__FAQ--font landing__FAQ--padding landing_FAQ--bullets">
                                <li>Share your QI projects, learn from others, and see current improvement projects to connect and collaborate</li>
                                <li>Apply credit to New Innovations (for Residents and Magnet  only)</li>
                                <li>Access to BMJ Quality website to manage projects and facilitate QI publications and presentations</li>
                                <li>Access to Quality Department experts and data resources</li>
                            </ul>
                            </div>
                        </div>
                        <div class="col s12 l6 font__opensans">
                            <div class="row">
                                <div class="shape__circle">
                                    <div class="shape__circle--text white-text">?</div>
                                </div>
                                <h5 class="text__blue">What do I need to get started?</h5>
                            </div>
                            <div class="row">
                                <ul class="landing__FAQ--font landing_FAQ--bullets">
                                    <li><a href="{% url 'registry:search' %}">Search QIPR</a> to learn about existing quality improvement projects </li>
                                    <li>Make sure you have a mentor for your project if you are a resident/trainee/student</li>
                                    <li>Complete <a target="_blank" href="{% static 'qipr/img/process_improvement_team_charter.pdf' %}">QI project charter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l6 font__opensans">
                            <div class="row">
                                <div class="shape__circle">
                                    <div class="shape__circle--text white-text">?</div>
                                </div>
                                <h5 class="text__blue">Do I need IRB approval?</h5>
                            </div>
                            <div class="row">
                                <p class="landing__FAQ--font">Most QI projects do not require IRB approval if they meet <a href="{% static 'qipr/img/criteria_qi_projects.pdf' %}" target="_blank">QI criteria</a>. If the project does not meet <a href="{% static 'qipr/img/criteria_qi_projects.pdf' %}" target="_blank">QI criteria</a>, the IRB will need to review the project. QIPR will help to determine if the project meets <a href="{% static 'qipr/img/criteria_qi_projects.pdf' %}" target="_blank">QI criteria</a>.</p>
                            </div>
                        </div>
                        <div class="col s12 l6 font__opensans">
                            <div class="row">
                                <div class="shape__circle">
                                    <div class="shape__circle--text white-text">?</div>
                                </div>
                                <h5 class="text__blue">How can I get help? </h5>
                            </div>
                            <div class="row">
                                <ul class="landing__FAQ--font landing__FAQ--padding landing_FAQ--bullets">
                                    <li>Visit the <a href="https://ufhealth.org/quality-and-patient-safety/welcome" target="_blank">Quality Improvement Resources and Education</a> website</li>
                                    <li>Call us <a href="tel:352-265-0002">352-265-0002</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

          </section>

          <!-- Call to Action Orange Section -->
          <section>
            <div class="orange lighten-1">
              <div class="container">
                <div class="row section__orange-padding">
                  <h1 class="white-text font__opensans section__orange col s12">Have additional questions? Call the QIPR support team M-F at <a href="tel:352-265-0002">352-265-0002</a></h1>
                </div>
              </div>
            </div>
          </section>
        </main>

        <footer class="page-footer grey lighten-3">
          <div class="container">
              <div class="row">
                  <div class="col s12 m4 center">
                      <div class="footer__logo--height">
                          <img src="{% static 'qipr/img/UF-Health-logo.png' %}" class="responsive-img footer__logo--ufhealth" alt="UF Health Logo">
                      </div>
                      <p>The UF Health Sebastian Ferrero Office of Clinical Quality & Patient Safety</p>
                  </div>
                  <div class="col s12 m4 center">
                      <div class="footer__logo--height">
                          <img src="{% static 'qipr/img/University_of_Florida_Logo.png' %}" class="responsive-img footer__logo--uf" alt="UF Logo">
                      </div>
                      <p>The University of Florida Clinical and Translational Science Institute</p>
                  </div>
                  <div class="col s12 m4 center">
                      <h5>Contact The QIPR Team</h5>
                      <p>Phone: <a href="tel:3522650002">352-265-0002</a></p>
                  </div>
              </div>
          </div>

          <div class="footer-copyright">
              <div class="container center">
                  <p>© 2017 QIPR Approver {{ version_number }}
                      |
                      Website Designed by <a href="https://www.ctsi.ufl.edu/research/study-design-and-analysis/informatics-consulting/" target="_blank">CTS-IT</a>
                  </p>
              </div>
          </div>
      </footer>

        <script type="text/javascript" src="{% static 'qipr/js/materialize.js' %}"></script>
        <script type="text/javascript" src="{% static 'qipr/js/app.js' %}"></script>
    </body>
</html>
