<html>
    <head>
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width">
        <link href="{% static 'qipr/css/materialize.css' %}" type="text/css" rel="stylesheet"/>
        <link href="{% static 'qipr/css/main.css' %}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans|Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'qipr/img/favicon-32x32.png' %}">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper bg-blue">
                    <a id="icon-container" class="icon" href="#">
                        <img class="nav__logo" src="{% static 'qipr/img/qipr_outlines.png' %}">
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-small-only">
                        <li class="nav_li"><a href="#">Dashboard</a></li>
                        <li class="nav_li"><a href="{% url 'registry:search' %}">Search Registry</a></li>
                        <li class="nav_li"><a href="{% url 'registry:index' %}">FAQs</a></li>
                        <li><a class="btn btn__logout" href="#">Logout</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a class="" href="#">Dashboard</a></li>
                        <li><a class="" href="">Search Registry</a></li>
                        <li><a class="" href="">About</a></li>
                        <li><a class="btn" href="#">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <main>
          
          <!-- Hero Image/ Mission Stmt Section-->
          <section class="bg__img">
            <div class="bg__ltblue col s12">
              <div class="row center">
                  <div class="col s12 font__roboto">
                    <h2 class=" header center blue-text text-darken-4 mission_title"><span class="white-text">Frequently Asked Questions</span></h2>
                  </div>
              </div>
            </div>
          </section>

           <!-- FAQ Section-->
           <section class="section faq__pd">
                <div class="container">
                    <div class="row">
                        <div class="col s12 l6 font__opensans">
                            <div class="shape__circle">
                                <div class="shape__circle--text white-text">?</div>
                            </div>
                            <h5 class="text__blue">What is QIPR?</h5>
                            <p class="landing__FAQ--font landing__FAQ--padding">The Quality Improvement Performance Registry (QIPR) for UF Health quality improvement projects. </p>
                        </div>
                        <div class="col s12 l6 font__opensans">
                            <div class="shape__circle">
                                <div class="shape__circle--text white-text">?</div>
                            </div>
                            <h5 class="text__blue">What do I need to get started?</h5>
                            <ul class="landing__FAQ--font landing_FAQ--bullets">
                              <li><a href="{% url 'registry:search' %}">Search QIPR</a> to learn about existing quality improvement projects </li>
                              <li>Make sure you have a mentor for your project if you are a resident/trainee/student</li>
                              <li>Complete <a target="_blank" href="{% static 'qipr/img/process_improvement_team_charter.pdf' %}">QI project charter</a></li>
                            </ul>
                        </div>
                        <div class="col s12 l6 font__opensans">
                            <div class="shape__circle">
                                <div class="shape__circle--text white-text">?</div>
                            </div>
                            <h5 class="text__blue">Why should I use QIPR?</h5>
                            <ul class="landing__FAQ--font landing__FAQ--padding landing_FAQ--bullets">
                              <li>Share your QI projects, learn from others, and see current improvement projects to connect and collaborate</li>
                              <li>Apply credit to New Innovations (for Residents and Magnet  only)</li>
                              <li>Access to BMJ Quality website to manage projects and facilitate QI publications and presentations</li>
                              <li>Access to Quality Department experts and data resources</li>
                            </ul>
                        </div>
                        <div class="col s12 l6 font__opensans">
                            <div class="shape__circle">
                                <div class="shape__circle--text white-text">?</div>
                            </div>
                            <h5 class="text__blue">Do I need IRB approval?</h5>
                            <p class="landing__FAQ--font">Most QI projects do not require IRB approval if they meet <a href="{% static 'qipr/img/criteria_qi_projects.pdf' %}" target="_blank">QI criteria</a>. If the project does not meet <a href="{% static 'qipr/img/criteria_qi_projects.pdf' %}" target="_blank">QI criteria</a>, the IRB will need to review the project. QIPR will help to determine if the project meets <a href="{% static 'qipr/img/criteria_qi_projects.pdf' %}" target="_blank">QI criteria</a>.</p>
                        </div>
                        <div class="col s12 l6 font__opensans clear__both">
                            <div class="shape__circle">
                                <div class="shape__circle--text white-text">?</div>
                            </div>
                            <h5 class="text__blue">How can I get help? </h5>
                            <ul class="landing__FAQ--font landing__FAQ--padding landing_FAQ--bullets">
                              <li>Visit the <a href="https://ufhealth.org/quality-and-patient-safety/welcome" target="_blank">Quality Improvement Resources and Education</a> website</li>
                              <li>Call us <a href="tel:352-265-0002">352-265-0002</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              </section>

         

          

          <!-- Call to Action Orange Section -->
          <section>
            <div class="orange lighten-1">
              <div class="container">
                <div class="row section__orange-padding">
                  <h1 class="white-text font__opensans section__orange col s12">Have additional questions? Call the QIPR support team M-F at <a href="tel:352-265-0002">352-265-0002</a></h1>
                </div>
              </div>
            </div>
          </section>

          

          <!-- Find, Create, Manage Section -->
          <!-- <section class="bg__img-graphs valign-wrapper">
            <div class="container valign">
                <div class="row">
                  <article class="col s4 box-white center-align">
                    <h2 class="fcm__titles blue-text text-darken-4">find</h2>
                      <p class="fcm__text-box">Have an existing Quality Improvement project? Search our existing projects.</p>
                      <a href="{% url 'registry:search' %}"><i class="search__icon create__img medium material-icons">search</i></a>
                  </article>

                  <article class="col s4 box-white center-align">
                    <h2 class="fcm__titles blue-text text-darken-4">create</h2>
                    <p class="fcm__text-box">Work at UF Health? Create your own Quality Improvement project with QIPR Approver.</p>
                    <img class="responsive-img create__img" src="{% static 'qipr/img/UF-Health-logo.png' %}">
                  </article>

                  <article class="col s4 box-white center-align">
                    <h2 class="fcm__titles blue-text text-darken-4">manage</h2>
                    <p class="fcm__text-box">Make sure your project stays up to date! Head to QIPR Approver to manage your project.</p>
                    <button class="manage__btn font__opensans btn waves-effect waves-light">Manage Account<span><i class="small material-icons manage__icon">play_arrow</i></span></button>
                  </article>
                </div>
              </div>
          </section> -->
        </main>

         <footer class="margin__zero page-footer grey darken-4">
          <div class="valign-wrapper footer-copyright grey darken-4">
            <div class="valign container center">
              <p>© 2016 QIPR Registry</p>
            </div>
          </div>
        </footer>

        <script type="text/javascript" src="{% static 'qipr/js/materialize.js' %}"></script>
        <script type="text/javascript" src="{% static 'qipr/js/app.js' %}"></script>
    </body>
</html>
