<div class="facet-tag">
    <div class="facet-tag__category">
        {{ display }}
    </div>
    <i class="material-icons facet-tag__details facet-tag__details--inactive">add</i>
    <ul class="facet-tag__facet-list hidden">
    {% for facet in facets %}
        <li class="facet-tag__item">
            <input class="facet-tag__input filled-in"
                data-filterfield="{{ facet.filter_field }}"
                data-value="{{ facet.value }}"
                id="{{ facet.name }}"
                type="checkbox"
                value="{{ facet.value }}"
                {{ is_checked }}/>
            <label class="facet-tag__label" for="{{ facet.name }}">{{ facet.label }}</label>
        </li>
    {% endfor %}
    {% if not facets %}
        <div class="facet-tag__no-facet">
            No approved projects with this field.
        </div>
    {% endif %}
    </ul>
</div>
